@import url("//cdn.web-fonts.ge/fonts/bpg-boxo-boxo/css/bpg-boxo-boxo.min.css");
@import url("//cdn.web-fonts.ge/fonts/alk-rex-bold/css/alk-rex-bold.min.css");
body {
  height: 1200px;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-size: 10px;
}

* {
  font-family: "BPG Boxo-Boxo", sans-serif;
}

.dib {
  display: inline-block;
  vertical-align: center;
}

.center {
  text-align: center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container {
  max-width: 1900px;
  width: 100%;
}

.conatainer {
  width: 300px;
  border: 1px solid black;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: aquamarine;
}

.conatainer .but {
  display: block;
  width: 100%;
  background-color: #3350b1;
  color: white;
  height: 35px;
  border: 0;
  cursor: pointer;
}

@-webkit-keyframes rolling {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    background-color: black;
    border-radius: 50%;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes rolling {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    background-color: black;
    border-radius: 50%;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

header {
  margin: 15px 15px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: cadetblue;
  height: 70px;
}

header img {
  height: 45px;
  width: 45px;
}

nav {
  width: calc(100% - 45px);
}

nav a {
  text-decoration: none;
  font-size: 15px;
  margin: 0 15px;
  color: blue;
}

nav a:hover {
  text-decoration: underline;
  color: black;
}

.conatainer {
  -webkit-animation: rolling 1s;
          animation: rolling 1s;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.conatainer .but {
  margin-bottom: 15px;
}

.conatainer .pass-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conatainer .reg-button {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  color: #3350b1;
  font-size: 15px;
}

.conatainer .reg-button.reg-button:hover {
  text-decoration: underline;
}

.conatainer .rec-password {
  text-decoration: none;
  margin-left: 15px;
  font-size: 10px;
}

.rec-password:hover {
  text-decoration: underline;
}

.box {
  margin-bottom: 15px;
}

.box .label-text {
  display: block;
  margin-bottom: 3px;
  font-size: 12px;
  font-family: "ALK Rex Bold", sans-serif;
}

.box .input-class {
  width: 100%;
  padding-left: 10px;
  font-size: 10px;
  height: 30px;
  border-color: red;
}

.box .location {
  width: 100%;
  padding-left: 10px;
  font-size: 10px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px 15px 0 15px;
  background-color: cadetblue;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-box .foot-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-box .foot-box2 a {
  text-decoration: none;
  margin: 0 15px;
  font-size: 15px;
  color: blue;
  padding-top: 7px;
}

.footer-box .foot-box2 a:hover {
  text-decoration: underline;
  color: chocolate;
}
/*# sourceMappingURL=style.css.map */